<!DOCTYPE html>
<html lang="en" data-th-replace="~{base :: parent(~{::#content},~{::title},~{::script})}">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title data-th-text="${loggedInUser.name} +' | LinkGenie'">Profile Page</title>
</head>
<body>


<div id="content">
    <!-- sidebar when user is logged in -->
    <div data-th-if="${loggedInUser}">
        <div data-th-replace="~{user/sidebar :: sidebar}"></div>
    </div>

    <div class="sm:pl-64 pt-20" style="height: 1000px">

        <div class="flex items-center justify-center">

            <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">

                <div class="flex flex-col items-center pb-10 pt-10">
                    <img class="w-24 h-24 mb-3 rounded-full shadow-lg" data-th-src="${loggedInUser.profilePic}" alt="Profile pic"/>
                    <h5 data-th-text="${loggedInUser.name}" class="mb-1 text-xl font-medium text-gray-900 dark:text-white"></h5>
                    <span data-th-text="${loggedInUser.email}" class="text-sm text-gray-500 dark:text-gray-400"></span>
                    <span data-th-text="${loggedInUser.phoneNumber}" class="text-sm text-gray-500 dark:text-gray-400"></span>
                    <span data-th-text="${loggedInUser.about}" class="text-sm text-gray-500 dark:text-gray-400 pt-2"></span>

                    <div class="flex mt-4 md:mt-6">
                        <a data-th-href="@{'/user/contact/add'}" class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg
                        hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                            Add Contact</a>
                        <a data-th-href="@{'/user/contact'}" class="py-2 px-4 ms-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border
                        border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700
                        dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">View Contacts</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script>
    console.log("Profile page");
</script>

</body>
</html>
