<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Us</title>
</head>
<body>

<div id="content" style="margin-top: 40px;">
    <div class="flex justify-center flex-col items-center">
        <h1 class="text-2xl">Contact Us</h1>
    </div>
</div>

<script>
    console.log("about page testing");
</script>
<script>
    console.log("second script tag");
</script>

</body>
</html>
